fastapi
uvicorn[standard]
pydantic-settings
python-multipart
pandas
numpy
scikit-learn
flaml[automl]
joblib
openpyxl
openai
langgraph
openml
datasets
huggingface_hub
kaggle
kagglehub
lxml
pytest
httpx
